<div style={{borderRadiusStyle}} class="{{styleNamespace}}--saturation-white {{styleNamespace}}__container" data-test-ember-color-saturation-container>
  <div style={{borderRadiusStyle}} class="{{styleNamespace}}--saturation-black {{styleNamespace}}__container"></div>
  <div style={{pointerStyle}} class="{{styleNamespace}}__pointer">
    {{yield}}
  </div>
</div>